<div class="header-billing">
    <title>Linkear</title>
    <link rel="stylesheet" href="header-billing.component.css" >
    <table>
        <thead>
            <tr> 
            <td>
                <img src="images/logo.jpg" />
            </td>
            <th>
                <strong>
                    <font face="Tahoma">
                        <p style="background-color: darkgray" >
                        RUC: 1792206170001</p>
                        <p style="background-color: skyblue">FACTURA
                    </font>
                </strong>
                    <font face="Tahoma">
                        <p style="background-color: darkgray">S 007-001</p>
                    </font>
                <strong>
                    <font face="Tahoma">
                        <p style="background-color: darkgray">
                        No: 001001000008642</p>
                    </font>
                </strong>
            </th>
            </tr>
            <tr>
            <td>
            <strong>
                <font face="Tahoma">
                    LINKEAR S.A.
                </font>
            </strong><br>
                <font face="Tahoma">
                </font>
            </td>
            
            </tr>
            <tr>
                
            </tr>
        </thead> 
    </table>
 
    
</div>
